.picture .picture__heading { 
    margin-block-end: 10px;
}

.picture__image { 
   max-inline-size: 100%;
    background-position: center center;
    background-size: cover;
    display: block;
}

.picture__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

