   .what {
        margin-block-start: 33px;
    }

.what__heading { 
    font-family: var(--font-family, 'IBM Plex Mono', sans-serif);
    font-weight: var(--font-bold, 700);
    font-size: var(--size-text, 18px);
    line-height: 130%;
}

