.footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin-block-start: 40px;
   height: 100vh;
   min-height: 668px;
}

.footer__title {
    justify-self: center;
    align-self: center;
    font-size: var(--size-title, clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
    color: var(--color-heading-title, #FFC2E6);
    font-weight: var(--font-bold, 700);
    text-transform: var(--text-lowercase, lowercase);
    text-shadow: 2px 2px 0 var(--color-heading-title-accent, #ff0070);
}

