@media (width >=768px) {
    .header {
        margin: 20px;
    }

    .header__theme-menu-list {
        gap: 17px;
    }

    .heading__description {
        margin-inline-start: auto;
    }

    .decorated-zone {
        min-height: 984px;
    }

    .heading-h1 {
        margin-top: clamp(11.25rem, 0.5625rem + 22.2656vw, 14.8125rem);
        margin-left: -3%;
    }

    .heading__description {
       margin-block-start: 162px;
    }

    .why {
        grid-template-columns: clamp(14.75rem, 0.125rem + 30.4688vw, 19.625rem) 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
        padding-block-start: 60px;
    }

    .why__heading {
        margin-block-end: 0;
    }

    .what {
        display: grid;
        grid-template-columns: clamp(14.75rem, 0.125rem + 30.4688vw, 19.625rem) 1fr;
        grid-template-rows: auto;
        grid-auto-flow: column;
        margin-block-start: clamp(3.125rem, 2.5589rem + 2.4814vw, 3.75rem);
    }

    .what__heading {
        max-inline-size: 236px;
        grid-column: 1 / -1;
    }

    .what__list {
        grid-column: 1 / -1;
    }

    .how {
        display: grid;
        grid-template-columns: clamp(14.75rem, 0.125rem + 30.4688vw, 19.625rem) 1fr;
        grid-template-rows: auto;
        margin-block-start: clamp(3.125rem, 2.5589rem + 2.4814vw, 3.75rem);
        gap: 20px;
    }

    .picture {
        margin-block-start: clamp(3.125rem, 2.5589rem + 2.4814vw, 3.75rem);
    }

    .picture__list {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        position: relative;
    }

    .picture__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



    .picture__list-item:nth-child(1) {
        grid-column: 1 / 3;
    }

    .picture__list-item:nth-child(2) {
        grid-column: 3;
        grid-row: 1 / 3;
    }

    .picture__list-item:nth-child(3) {
        grid-column: 1;
        grid-row: 2 / 4;
    }

    .picture__list-item:last-child {
        grid-column: 2 / 4;
    }
    .footer { 
        min-height: 816px;
        display: flex;
        justify-content: center;
    }

    .footer__title { 
        margin-block-end: 160px;
    }
}

@media (width >=1024px) {
    .header__theme-menu { 
        display: flex;
       flex-direction: row-reverse;
    }
    .decorated-zone {
        min-block-size: 79vh;
    }
    .decorative-rec { 
        margin-block-end: 0;
    }
    .header__theme-menu-list { 
        flex-grow: 1;
        justify-content: center;
        flex-direction: row;
        margin-block-start: 0;
    }
    .heading-h1 {
        margin-block-start: 274.5px;
      margin-left: -2%;
    }
    .heading__description {
        margin-block-start: 115px;
    }
    .what__heading {    
        min-inline-size: max-content;
    }
    .what__list { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    .what { 
        margin-block-start: 60px;
    }
    .footer { 
        min-block-size: 60.5vh;
        margin: 40px 10px 10px 10px;
    }
}