main { 
  padding-inline-start: clamp(0.625rem, 0.0589rem + 2.4814vw, 1.25rem);;
  padding-inline-end: clamp(0.625rem, 0.0589rem + 2.4814vw, 1.25rem);
}

a { 
  text-decoration: none;
}

.page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  background-image: var(--background);
  background-color: var(--color-bg-theme);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.heading-h2 { 
  font-weight: var(--font-bold);
  font-size: var(--size-text);
  line-height: 130%;
  color: var(--color);
  margin-block-end: 20px;
}

.heading-h3 { 
  margin-block-end: 10px;
  font-size: var(--size-text);
}

.heading-h4 { 
  margin-block-end: 10px;
  font-size: var(--size-text);
}

.description-paragraph { 
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: var(--size-text);
  line-height: 130%;
  color: var(--color-text);
  margin-block-end: 20px;
}

.title--dark { 
  background-color: var(--color-bg-title);
    color: var(--color-title);
}

.heading-h3--margin-block-end-x2 { 
  margin-block-end: 20px;
}

.link--accent { 
  text-shadow: 2px 2px 1px var(--color-link-accent);
}

.link--accent:focus { 
  outline: none;
}

.link--accent:focus-visible { 
  outline: 1px  var(--color-focus) solid;
}

.link--accent:hover { 
  text-decoration-skip-ink: none;
  text-decoration: underline;
}