main {
  padding-inline-start: clamp(0.625rem, 0.0589rem + 2.4814vw, 1.25rem);
  padding-inline-end: clamp(0.625rem, 0.0589rem + 2.4814vw, 1.25rem);
  padding-block-start: 40px;
  
}

a {
  text-decoration: none;
}

.page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  background-image: var(--background, url(../images/cover-image-light.png));
  background-color: var(--color-bg-theme, #fff1f7);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



.heading-headline {
  font-weight: var(--font-bold, 700);
  font-size: var(--size-text, 18px);
  color: var(--color-title, #353430);
  line-height: 130%;
  margin-block-end: 20px;
  
}

.heading__subtitle {
  margin-block-end: 10px;
  font-size: var(--size-text, 18px);
  background-color: var(--color-bg-title, #ff8dcb);
  color: var(--color-title-card, #353430);
  font-family: var(--font-family, 'IBM Plex Mono', sans-serif);
  line-height: 130%;
  inline-size: 100%;
  
}

.description-paragraph {
  font-family: var(--font-family, 'IBM Plex Mono', monospace, sans-serif);
  font-weight: var(--font-regular, 400);
  font-size: var(--size-text, 18px);
  line-height: 130%;
  color: var(--color-text, #353430);
  margin-block-end: 20px;
  
}

.heading__subtitle--large-margin {
  margin-block-end: 20px;
  
}

.link--accent {
  text-shadow: 2px 2px 1px var(--color-link-accent, #353430);
}

.link--accent:focus {
  outline: none;
}

.link--accent:focus-visible {
  outline: 1px var(--color-focus, #353430) solid;
}

.link--accent:hover {
  text-decoration-skip-ink: none;
  text-decoration: underline;
}