:root {  
  --color-heading-h1-accent:  #ff0070;
  --size-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --size-text: 18px;
  --font-bold: 700;
  --font-regular: 400;
  --font-family: 'IBM Plex Mono', sans-serif;
  --text-lowercase: lowercase;
  --text-capitalize: capitalize;
  --text-uppercase: uppercase;
}